footer {
    text-align: center;
    background-color: black !important;
    color: white !important;
    font-family: 'tomorrow', sans-serif !important;
}

.logofooter {
    filter: invert(100%);
}

.plus {
    color: white !important;

}

.titlefooter {
    font-size: 20px;
}

.fab {
    color: white !important;
}
