h5.text-uppercase.mb-4 {
    text-align: center !important;
}

a.link {
    text-decoration: none !important;
    color: white !important;
}

p.pfooter {
    text-align: center !important;
}

div.mt-4 {
    text-align: center !important;
}