@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@700&display=swap');

body {
    font-family: 'Tomorrow', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    width: 100%;
    text-align: center;
}

p.title-brg {
    font-size: 26px;
}

p.descrp-brg {
    font-size: 16px;
}

.titlehome {
    font-size: 40px;
    padding-top: 20px;
}

a:hover {
    text-decoration: underline !important;
}

a {
    text-decoration: none;
}

.contenant {
    position: relative;
    text-align: center !important;
    color:black;
    margin: 0 auto !important;
}

.texte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
}

p.nosburger {
    margin-left: -100% !important;
    font-size: 130px;
    margin-top: -10%;
}